<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="ConnString"
            connectionString="Data Source=148.81.130.59,21433;Initial Catalog=db210975;User ID=st210975;Password=p210975;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>